<h1><%= @flat.name %></h1>
<p>Address: <%= @flat.address %></p>
<br>
<h3>A bit more about this flat...</h3>
<p><%= @flat.description %></p>
<br>
<h3>Details</h3>
<p>Number of guests:<%= @flat.number_of_guests %></p>
<p>Price per night: $<%= @flat.price_per_night %></p>
s
